<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
        name="viewport">
</head>

<body>
<div class="container" style="width: 600px;margin: 0 auto;font-size: 14px;background: #ffffff;">
  Hi <%= email %>
  Your <%= type %> verification code is <%= code %> It expires in 30 mins.
  to proceed to verify your account
</div>
</body>
</html>
